<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
		<!-- Isso aqui é a importação do menu de navegação-->
        <nav th:replace="layout :: menu">(menu)</nav>


    <!-- Conteudo da página -->
        <main class="container">

            <a th:href="@{/cliente/novo}" class="btn btn-primary">Novo</a>


            <table class="table" id="tabelaCliente">

                <thead>


                    <tr>

                        <th>Id</th>

                        <th>Username</th>

                        <th>Email</th>

                        <th>Password</th>

                        
                
                
                        <th>Alterar</th>
                
                        <th>Deletar</th>

              
                    </tr>
              
            
                </thead>

            
                <tbody>
              
                    <tr th:each="umCliente : ${listaClientes}">
                
                        <td th:text="${umCliente.Id}"></td>
                
                        <td th:text="${umCliente.Username}"></td>
                
                        <td th:text="${umCliente.Email}"></td>
                
                        <td th:text="${umCliente.Password}"></td>


                
                        <td>
                            <a th:href="@{'/cliente/alterar/' + ${umCliente.Id}}" class="btn btn-primary">Alterar</a>
                        </td>
    
                
                        <td>
                            <button class="btn btn-danger js-delete" th:data-id="${umCliente.Id}">Excluir</button>
                        </td>
    
                    </tr>

                </tbody>

            </table>

        </main>
    



        <div class="modal" tabindex="-1" id="modalUser">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir cliente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Deseja excluir o usuário selecionado?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-nao">Não</button>
                  <button type="button" class="btn btn-primary" id="btn-sim">Sim</button>
                </div>
              </div>
            </div>
        </div>


        <div th:include="layout :: footer">(footer)</div>

        <script th:src="@{/scriptCliente.js}"></script>
      
    </body>

</html>